@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color1d: #ff5349;
  --color2d: #ffc436;528FF0 */
  --color1d: #650081;
  --color2d: #ffc901;
  --toastify-toast-width: auto;
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}
body {
  color: #333;
  background-color: rgb(255 255 255 / 60%) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus-visible {
  outline: none;
}

.main-header,
.footer-main {
  /* background-color: rgb(26, 26, 26) !important; */
  background-color: rgb(80, 2, 102) !important;
  color: white !important;
  border-bottom: none !important;
}

header {
  border-bottom: solid 1px #eee;
  transition: transform 0.3s ease, top 0.3s ease;
}

.time-table tr > th:first-child,
.time-table tr > td:first-child {
  position: sticky;
  left: 0;
  background-color: #ffff;
}

.modal-close-btn button {
  z-index: 20 !important;
}

.nextui-listbox {
  width: 100%;
  max-height: 16rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-padding-top: 1.5rem;
  scroll-padding-bottom: 1.5rem;
}
.search-list::-webkit-scrollbar {
  width: 6px;
}
.search-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 12px;
}
.search-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 12px;
}

@layer components {
  html {
    @apply scroll-smooth;
  }
  button:hover:not(.embla *, .google-map *, .sidemenubar *),
  a:hover:not(.embla *, .google-map *, .sidemenubar *),
  .re-card-link:hover {
    @apply transition duration-300 ease-in-out;
  }

  button:not(.embla *, .google-map *, .sidemenubar *),
  a:not(.embla *, .google-map *, .sidemenubar *),
  .re-card-link {
    @apply transition duration-300 ease-in-out will-change-transform;
  }
  .link-pill {
    /* @apply px-4 py-2 rounded-full hover:bg-color2d/50; */
    @apply px-4 py-2;
  }
  .box-border-color1d {
    @apply border border-color1d/70 rounded-md;
  }
  .box-border-color2d {
    @apply border border-color2d rounded-xl;
  }
  .category-cube {
    @apply box-border-color2d grid content-center h-14 lg:h-auto lg:aspect-square text-base font-semibold tracking-wide bg-color2d/80 hover:bg-color2d hover:shadow-lg transition duration-500 ease-in-out text-center;
  }
  /* .category-cube > a {
    @apply w-56 lg:w-auto flex lg:grid lg:grid-cols-1 lg:justify-items-center lg:gap-y-2 lg:px-3 lg:text-center;
  } */
  .category-rect {
    @apply box-border-color2d grid content-center text-base font-bold tracking-wide bg-color2d/80 hover:bg-color2d hover:shadow-lg;
  }
  .category-rect > a {
    @apply w-56 lg:w-auto flex lg:grid lg:grid-cols-1 lg:justify-items-center lg:gap-y-2 lg:px-3 lg:py-5 lg:text-center;
  }
  .category-pill {
    @apply box-border-color2d grid content-center h-14 rounded-full text-xl font-bold tracking-wide bg-color2d/50 hover:bg-color2d/70 hover:shadow-lg;
  }
  .category-title {
    @apply text-lg sm:text-xl md:text-3xl font-semibold;
  }
  .btn-primary {
    @apply bg-color1d text-white py-3 px-8 w-full rounded-full font-medium;
  }
  .btn-view_details {
    color: #333;
    @apply bg-color2d/80 hover:bg-color2d py-2 px-3 text-sm rounded-md font-medium;
  }
  .btn-contact {
    /* color: #fff;
    background-color: rgb(0 175 64); */
    @apply bg-color1d/80 hover:bg-color1d text-white p-2 text-sm font-medium tracking-wider;
  }
  .btn-explore_more {
    @apply !h-auto !py-1 text-sm font-semibold;
  }
  .search-container {
    @apply flex items-center bg-white w-full rounded-full h-14 md:h-16;
    border: 2px solid rgb(170, 170, 170);
  }
  .search-list {
    @apply absolute w-full bg-white z-30 border rounded-md p-2 text-base text-default-600 w-full max-h-96 overflow-auto;
    top: calc(100% + 5px);
  }
  .search-container .search-input {
    @apply bg-transparent text-base lg:text-lg text-gray-900 placeholder:text-gray-400 py-3 lg:py-4 px-8 shrink w-full relative;
  }
  .search-container .search-select {
    @apply w-48 m-2 text-base justify-center lg:text-lg text-gray-900 placeholder:text-gray-400 py-3 lg:py-4 pr-6 lg:px-1;
  }
  .search-container .search-select button {
    @apply rounded-full pl-6 bg-color1d text-white;
  }
  .search-container .search-select button span {
    @apply lg:text-lg text-white font-semibold !important;
  }
  .search-container-btn {
    @apply bg-color1d text-white m-1 md:m-2 p-3 md:px-8 md:py-2 rounded-full font-semibold text-xl;
  }
  /* .search-container-btn {
    @apply hidden lg:block bg-color1d text-white m-2 py-2 px-8 rounded-full font-semibold text-xl;
  } */
  .search-container-icon {
    @apply block lg:hidden bg-color1d text-white m-1 md:m-2 px-3 py-2 rounded-full font-bold text-xl;
  }
  #section-1 {
    /* @apply bg-color2d/80 pt-10 pb-14 mb-20; */
    @apply bg-color1d/10 pt-10 pb-14 mb-20;
  }
  #section-4 {
    /* @apply bg-color2d/80 pt-10 pb-14 mb-20; */
    @apply bg-color2d/10 py-5 mb-20;
  }
  .card-list-row {
    @apply flex overflow-x-auto gap-5 lg:gap-0 lg:*:m-3;
  }
  .business-card-list-row {
    @apply flex overflow-x-auto gap-5 lg:gap-0 lg:*:m-3;
  }
  .job-card-list-row {
    @apply flex overflow-x-auto gap-5 lg:gap-0 lg:*:m-3;
  }
  /* .job-card-list-row {
    @apply flex items-stretch overflow-x-auto lg:overflow-visible lg:grid lg:grid-cols-3 gap-5 lg:gap-7;
  } */
  .re-card-link,
  .job-card-link {
    @apply rounded-2xl will-change-transform;
  }
  .re-card-link:hover,
  .job-card-link:hover {
    /* box-shadow: 0 0 48px -33px rgb(34, 34, 34); */
    /* box-shadow: 0px 0px 14px 1px rgba(34, 34, 34, 0.3); */
    /* @apply transition translate-y-1 duration-300 ease-in-out; */
    @apply xl:scale-105;
  }
  .re-card,
  .business-card {
    @apply rounded-2xl bg-white lg:snap-start;
  }
  .job-card {
    @apply rounded-2xl bg-color1d/10 lg:snap-start grid content-between h-full;
  }
  .re-card {
    @apply lg:w-[293px];
  }
  .business-card {
    @apply lg:w-[400px];
  }
  .job-card {
    @apply w-80 lg:w-[400px];
  }
  .re-card-img {
    @apply border border-gray-300 border-b-0 h-40 w-64 md:w-72 lg:w-auto rounded-t-2xl;
  }
  .re-card-img > img {
    @apply w-full h-full rounded-t-2xl object-cover;
  }
  .business-card-img {
    @apply h-40 lg:h-64 w-64 md:w-72 lg:w-auto;
  }
  .business-card-img > img {
    @apply w-full h-full rounded-t-2xl object-cover;
  }
  .re-card-body {
    @apply border border-gray-300 border-t-0 rounded-b-2xl px-4 lg:px-6 h-40 md:h-40 grid content-center;
  }
  .business-card-body {
    @apply border border-gray-300 border-t-0 rounded-b-2xl px-4 lg:px-6 h-40 md:h-48 grid content-center;
  }
  .text-login-form {
    @apply !w-full md:!w-3/4 !font-semibold !text-gray-500 !mx-auto;
  }
  .text-forgot-pass {
    @apply !w-full md:!w-3/4 !mx-auto text-right *:text-sm *:text-gray-500 *:text-color1d *:cursor-pointer;
  }
  .text-remember-pass {
    @apply !w-full md:!w-3/4 !mx-auto text-right text-sm text-gray-600;
  }
  .text-login-form > div:first-child {
    @apply !border !border-gray-400 !rounded-md;
  }
  .btn-login-form {
    @apply !py-8 !px-8 !w-full md:!w-3/4 !rounded-md !text-lg;
  }
  .btn-soclogin-form {
    @apply border border-gray-400 py-3 px-8 rounded-md font-bold text-gray-500;
  }
  .btn-soclogin-form:hover {
    box-shadow: inset 0 0 0 150px #0000001a;
  }
  .text-tnc {
    @apply text-sm text-gray-500;
  }
  .tags {
    @apply flex flex-wrap lg:flex-nowrap gap-2 lg:gap-x-2 mb-5 overflow-x-auto;
  }
  .job-card-tags {
    @apply flex flex-nowrap gap-x-2 overflow-x-auto *:bg-white *:py-1 *:px-2 *:text-nowrap text-xs font-medium;
  }
  .card_link:hover h2 {
    @apply underline underline-offset-2;
  }
  .text-highlight {
    padding: 0.125rem 0.1875rem;
    margin: 0 -0.1875rem;
    color: #333;
    @apply bg-color2d/70 font-medium;
  }
  .search-cat-sec {
    @apply flex gap-5 overflow-x-auto;
  }
  .search-cat-sec .mini-card {
    @apply border border-neutral-300 rounded-lg aspect-square grid place-items-center text-center p-0 md:p-2 min-w-[120px] max-w-[120px] md:min-w-[130px] md:max-w-[130px] hover:bg-color2d/10 hover:border-neutral-400;
  }
  .mini-card .text {
    @apply text-xs md:text-sm text-gray-600 font-medium w-24 lg:w-auto;
  }
  .form-nav {
    @apply border-l-3 border-color2d/30 *:-ml-[0.22rem] *:border-l-4 *:border-transparent text-lg *:my-5 *:py-2 *:px-5 mx-5 *:block sticky top-36 hover:*:bg-color2d/30 hover:*:rounded-r-lg;
  }
  .form-nav .active {
    @apply border-l-4 border-color2d;
  }
  .btn-list-arrow {
    @apply xl:bg-black/40 hover:xl:bg-black/70 w-[40px] h-[40px] rounded-full p-1 grid place-content-center;
  }
  .default-pill-btn {
    @apply pl-4 pr-1 py-1 bg-default font-medium rounded-full text-sm text-nowrap text-gray-800;
  }
  .breadcrumb-item:not(.active) {
    @apply hover:text-color1d;
  }
  .link-text {
    @apply text-color1d hover:underline cursor-pointer;
  }
  .hover-underline {
    position: relative;
  }
  .hover-underline:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--color2d);
    transition: width 0.2s;
  }
  .hover-underline:hover:after {
    width: 50%;
    transition: width 0.2s;
  }
  .truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .card-list-row::-webkit-scrollbar,
  .business-card-list-row::-webkit-scrollbar,
  .job-card-list-row::-webkit-scrollbar,
  .tags::-webkit-scrollbar,
  .job-card-tags::-webkit-scrollbar,
  .search-cat-sec::-webkit-scrollbar,
  .tags::-webkit-scrollbar {
    @apply hidden;
  }
  .dark-background .bg-content3 {
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / 53%) !important;
  }
  .ribbon-sold {
    @apply absolute top-[43px] -right-[85px] w-[300px] rotate-[40deg] bg-red-500 text-white text-center font-bold shadow-lg text-xl tracking-widest;
  }
  .ribbon-listing_type {
    @apply absolute top-0 px-5 md:px-0 md:top-[25px] md:-left-[111px] md:w-[300px] md:rotate-[-45deg] bg-color1d/90 text-white text-center font-bold shadow-lg text-base tracking-widest;
  }
  .ribbon-job_category {
    @apply absolute top-0 px-5 md:px-0 md:top-[38px] md:-left-[100px] md:w-[300px] md:rotate-[-45deg] bg-color1d/90 text-white text-center font-bold shadow-lg text-sm tracking-widest;
  }
  .dash-heading {
    @apply text-xl lg:text-3xl font-semibold md:font-bold text-gray-600 mb-8 md:mb-12;
  }
  .btn-vis {
    @apply w-full md:w-auto !bg-color2d/40 hover:!bg-color2d/30 hover:!opacity-100 !h-5 md:!h-6;
  }
  .pill-active {
    @apply border rounded-full text-xs md:text-sm px-3 border-emerald-500 text-emerald-500 font-medium;
  }
  .pill-draft {
    @apply border rounded-full text-xs md:text-sm px-3 border-sky-500 text-sky-500 font-medium;
  }
  .pill-pendingApproval {
    @apply border rounded-full text-xs md:text-sm px-3 border-amber-600 text-amber-600 font-medium;
  }
  .pill-expired {
    @apply border rounded-full text-xs md:text-sm px-3 border-red-500 text-red-500 font-medium;
  }
  .dash-card-top {
    @apply absolute -top-7 right-0 md:-right-2;
  }
  .footer-sticky {
    @apply w-auto sticky bottom-0 bg-white border border-b-0 z-20 rounded-t-xl;
  }
  .btn-addNew {
    color: #333;
    @apply bg-color1d hover:bg-color1d/80 py-2 px-3 text-sm rounded-md font-medium flex text-white;
  }
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
